html {
    background-color:blue;
}
/*  to select all elements , we can use * or html  */

h1{
    color:whitesmoke;
    background-color:darkseagreen
}


h2{
    color:#FAF8F1 ;
    background-color:#C58940 ;
}